@charset "UTF-8";

@font-face {
  font-family: "hr-folio";
  src:url("fonts/hr-folio.eot");
  src:url("fonts/hr-folio.eot?#iefix") format("embedded-opentype"),
    url("fonts/hr-folio.woff") format("woff"),
    url("fonts/hr-folio.ttf") format("truetype"),
    url("fonts/hr-folio.svg#hr-folio") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hr-folio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hr-folio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin-map:before {
  content: "a";
}
.icon-email-envelope:before {
  content: "d";
}
.icon-briefcase-case-two:before {
  content: "g";
}
.icon-file-text:before {
  content: "c";
}
.icon-user:before {
  content: "f";
}
.icon-download:before {
  content: "b";
}
.icon-mortar-board:before {
  content: "e";
}
.icon-science-laboratory:before {
  content: "i";
}
.icon-chart:before {
  content: "j";
}
.icon-graph-bar:before {
  content: "l";
}
.icon-calendar:before {
  content: "k";
}
.icon-web:before {
  content: "o";
}
.icon-phone-1:before {
  content: "p";
}
.icon-social-pinterest:before {
  content: "x";
}
.icon-mail:before {
  content: "C";
}
.icon-facebook:before {
  content: "F";
}
.icon-google:before {
  content: "G";
}
.icon-pinterest:before {
  content: "H";
}
.icon-twitter:before {
  content: "I";
}
