/* roboto */
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_bold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.eot');
    src: url('../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_black_italic';
    src: url('../fonts/roboto-blackitalic-webfont.eot');
    src: url('../fonts/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_black';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_medium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_light_italic';
    src: url('../fonts/roboto-lightitalic-webfont.eot');
    src: url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_thin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.eot');
    src: url('../fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**** reset css ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
/**** end of reset css ****/



/* Preloader*/
#preloader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 540px;
}
.spinner {
    margin: 220px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -15px;
    /*position: absolute;
    right: 50%;
    margin-left: -25px;*/
}
.spinner > div {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
.rightContent {
    opacity: 0;
/*    -webkit-transition: 2s opacity;
    transition: 2s opacity;*/
    /*display: none;*/
    /*visiblity: hidden;*/
}
 /*end preloader*/

html, body {
    height: 100%;
}
body {
    font-family: 'roboto_regular';
    font-size: 14px;
    /*min-width: 1170px;*/
    background: url('../img/main-bg.jpg') fixed;
    background-size: cover;
}
body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/pattern-black.png'); 
    opacity: .55;
}
body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    color: #dbdbdb;
}
.clearAfter:after {
    content: '';
    display: block;
    clear: both;
} 
.mainContainer {
    position: relative;
    z-index: 99;
    height: 100%;
    padding-top: 70px;
    min-height: 520px;
}
.leftSide {
    width: 300px;
    float: left;
    position: relative;
    height: 100%;

    position: fixed;
    top: 70px;
}
.leftSide .logo {
    padding: 23px 28px;
    background: rgba(0,0,0,.7);
    display: inline-block;
}
.leftSide nav {
    bottom: 90px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
}
.leftSide nav li a {
    text-transform: uppercase;
    font-family: 'roboto_bold';
    font-size: 38px;
    padding: 0 23px;
    position: relative;
    z-index: 2;
}
.leftSide nav li a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    width: 0;
    height: 100%;
    -webkit-transition: .5s width;
    -moz-transition: .5s width;
    -o-transition: .5s width;
    transition: .5s width;
}
.leftSide nav li a:hover:after {
    width: 100%;
}
.leftSide nav li.active a:after {
    width: 100%;
}
.slicknav_menu {
    display: none;
}
#mobile-menu {
    display: none;
}
.menuTitle {
    position: relative;
    z-index: 9;
}
a:hover, button:hover, input[type="submit"]:hover {
    /*opacity: 0.8;*/
}
.rightSide {
    float: left;
    width: 950px;
    background: rgba(0,0,0,.6);
    padding: 15px;
    margin-left: 300px;
    position: relative;
    margin-bottom: 70px;
    /*min-height: 60%;*/
}
.rightSide:after {
    content: '';
    display: block;
    clear: both;
}
.introText {
    margin-bottom: 15px;
}
.introText p {
    font-size: 20px;
    color: #b0b0b0;
}
.categoryTabs {
    margin-bottom: 25px;
    padding-bottom: 13px;
    border-bottom: solid 1px rgba(0,0,0,.3);
}
.categoryTabs ul li {
    float: left;
    margin-right: 15px;
}
.categoryTabs ul li:after {
    margin-right: 0;
}
.categoryTabs ul li a {
    padding: 6px 12px;
    border: solid 1px transparent;
    display: block;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}
.categoryTabs ul li a.active {
    background: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.7);
}
.categoryTabs ul li a:hover {
    opacity: 0.8;
}
.galleries ul li {
    width: 33.3333333%;
    height: 180px;
    float: left;
    overflow: hidden;
    position: relative;
}
.galleries ul li a, .galleries ul li a img {
    display: block;
    height: 100%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.galleries ul li a:before {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
.galleries ul li a:before {
    content: '';
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background: rgba(0,0,0,0);
}
.galleries ul li a:hover:before {
    background: rgba(0,0,0,.5);
}
.galleries ul li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.galleries ul li a:after {
    /*content: '+';*/
    content: '';
    font-size: 62px;
    text-align: center;
    background: rgba(0,0,0,.5) url('../img/plus-icon.png') center no-repeat;
    width: 82px;
    height: 82px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -41px;
    margin-left: -41px;
    opacity: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
}
.galleries ul li a:hover:after {
    opacity: 1
}
.galleries ul li a img {
    width: 100%;
}
.galleries .mix {
    display: none;
}
.mfp-wrap {
    cursor: default;
}
.mfp-close {
    /*bottom: 18px;*/
    /*top: initial;*/
    padding: 0!important;
    left: 0;
    font-size: 40px;
    width: 20px;
    text-align: center;
    left: initial;
    right: 0!important;
    cursor: pointer!important;
}


.image-source-link {
    color: #98C3D1;
}

/* galleries zoom effect */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: .93;
}
/* end galleries zoom effect */

.mfp-figure figcaption {
    display: none;
}
.place-card.place-card-large {
    display: none;
}
.contactMap {
    margin-top: 15px;
}
.contactMap iframe {
    height: 178px;
    width: 100%;
}
.contactForm {
    float: left;
    width: 55%;
    margin-right: 5%;
}
.contactInfo {
    float: left;
    width: 40%;
}
.messageThanks h3 {
    font-size: 45px;
    font-family: 'roboto_light';
    text-align: center;
    margin-bottom: 12px;
}
.messageThanks p {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    font-family: 'roboto_light';
}
.formRow {
    margin-bottom: 19px;
}
.formRow input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    height: 44px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 0 7px;
    font-family: 'roboto_regular';
    font-size: 14px;
    -webkit-transition: 1s border-color;
    transition: 1s border-color;
}
.formRow input:not([type="checkbox"]):not([type="radio"]):focus {
    border-color: rgba(255,255,255,.45);
}
.formRow textarea {
    width: 100%;
    height: 220px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 7px;
    font-family: 'roboto_regular';
    font-size: 14px;
    resize: none;
    -webkit-transition: 1s border-color;
    transition: 1s border-color;
}
.formRow textarea:focus {
    border-color: rgba(255,255,255,.45);
}
.contactFormInfo {
    margin-top: 40px;
}
.alighRight {
    text-align: right;
}
.formSubmit input {
    height: 44px;
    padding: 7px 20px;
    font-size: 14px;
    font-family: 'roboto_regular';
    font-size: 14px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    background: rgba(0,0,0,.5);
    cursor: pointer;
}
.formSubmit input:hover {
    opacity: .7;
}
.contactSocials {
    margin-top: 15px;
}
.contactSocials ul li {
    float: left;
    margin-right: 10px;
}
.contactSocials ul li a:hover {
    opacity: 0.7;
}
.aboutImg {
    float: left;
    /*width: 420px;*/
    width: 420px;
    margin-right: 3%;
}
.aboutImg img {
    width: 100%;
}
.aboutText {
    /*float: left;*/
    /*width: 55%;*/
}
.aboutText p {
    font-size: 18px;
    font-family: 'roboto_light';
}
.homeTexts {
    position: absolute;
    right: 50px;
    margin-left: 300px;
    max-width: 780px;
}
.homeTexts div {
    text-align: right;
}
.homeTexts div p {
    display: inline-block;
    /*line-height: 65px;*/
}
.homeBigTxt p {
    font-size: 42px; 
    font-family: 'roboto_bold';
    background: rgba(0,0,0,.6);
    padding: 3px 14px;
}
.homeSmallTxt p {
    font-size: 22px;
    font-family: 'roboto_thin';
    background: rgba(0,0,0,.6);
    margin-top: 15px;
    padding: 3px 14px;
}



/****************************/
/********** MEDIA ***********/
/****************************/
@media(max-width: 1270px) {
    .rightSide {
        width: calc(100% - 300px);
    }
    .mainContainer  {
        padding-right: 15px;
    }
} /* end max-height: 1270px */
@media(max-width: 1070px) {
    .leftSide {
        width: 240px;
    }
    .leftSide nav li a {
        font-size: 34px;
    }
    .leftSide .logo {
        width: 100%;
    }
    .rightSide .logo a {
        display: block;
    }
    .leftSide .logo a img {
        width: 100%;
    }
    .rightSide {
        margin-left: 260px;
        width: calc(100% - 260px);
    }
    .aboutImg {
        width: 320px;
    }
} /* end max-width: 1070px */
@media(max-width: 980px) {
    .galleries ul li {
        width: 50%;
    }
    .categoryTabs ul li {
        margin-right: 10px;
    }
    .categoryTabs ul li a {
        padding: 2px 8px;
    }
} /* end max-width: 980px */

@media(max-width: 858px) {
    .aboutImg {
        width: 100%;
        margin: 0;
        float: none;
    }
}/* end max-width: 858px */

@media(max-width: 786px) {
    .mainContainer  {
        padding-right: 0;
    }
    .leftSide {
        position: static;
        width: 100%;
        float: none;
        height: auto;
        /*top: 0;*/
        /*z-index: 10;*/
    }
    .leftSide .logo {
        float: left;
        width: auto;
        position: absolute;
        top: 0;
        left: 10px;
        padding: 0;
        background: transparent;
    }
    .leftSide nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
        background: rgba(0,0,0,.6);
        padding: 5px 0;
    }
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }
    .slicknav_btn {
        background: transparent;
    }
    .slicknav_nav {
        /*background: #000;*/
    }
    .slicknav_nav a:hover {
        background: #252525;
        border-radius: 0;
    }
    .rightSide {
        margin: 70px auto;
        width: 98%;
        float: none;
    }
    .mainContainer {
        padding-top: 0;
    }
    .homeTexts {
        margin-left: 0;
        top: 80px;
    }
    .homeTexts div {
        text-align: left;
    }
} /* end max-width: 786px */

@media(max-width: 595px) {
    .galleries ul li {
        width: 100%;
    }
    .contactForm {
        float: none;
        width: 100%;
        margin: 0;
    }
    .contactInfo {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
} /* end max-width: 595px */




@media(max-height: 520px) {
    .leftSide {
        /*position: absolute;*/
    }
} /* end max-height: 520px */