/*** FONTS ***/
@font-face {
    font-family: 'oswald-light';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff2') format('woff2'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald-bold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald-regular';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 15, 2014 */
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.eot');
    src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/lato-hairlineitalic-webfont.eot');
    src: url('../fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairlineitalic-webfont.woff') format('woff'),
         url('../fonts/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato-lightitalic-webfont.eot');
    src: url('../fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato-hairline-webfont.eot');
    src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic-webfont.eot');
    src: url('../fonts/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-blackitalic-webfont.woff') format('woff'),
         url('../fonts/lato-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*** CSS RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
	margin: 0;
	padding: 0;
}
/*********************/
/*** end css reset ***/
/*********************/

/* Preloader*/
#preloader  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #444444 url('../img/bg.png');
    z-index: 9999;
    height: 100%;
    width: 100%;
 }

#status  {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fafafa;
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px;
 }
 /*end preloader*/

body, html {
	height: 100%;
	overflow: hidden;
}
body {
	background: url('../img/bg.png');
	font-family: 'latoregular';
}
body * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
}
input[type="submit"], input[type="file"], button, a {
	cursor: pointer;
	font-family: 'latoregular';
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
input[type="submit"]:hover, input[type="file"]:hover, button:hover, a:hover {
	opacity: .8;
}
.clearAfter:after {
	content: "";
	clear: both;
	display: block;
}
.wrapper {
	height: 90%;
	width: 1100px;
	margin: 0 auto;
	/*min-height: 550px;*/
}
.keepMargin {
	height: 5%;
}
.leftSide {
	width: 240px;
	background: rgba(0,0,0,0.7);
	height: 100%;
	float: left;
	padding: 45px 20px;
}
.mainPhoto {
	width: 142px;
	height: 142px;
	margin: 0 auto;
}
.mainPhoto img {
	width: 100%;
	border-radius: 100%;
	border: solid 3px #eaeaea;
	padding: 3px;
}
.mainName {
	font-family: 'oswald-bold'; 
	text-transform: uppercase;
	text-align: center;
	color: #cacaca;
	font-size: 25px;
	margin-top: 30px;
}
.mainPosition {
	font-family: 'oswald-regular'; 
	font-size: 14px;
	text-align: center;
	color: #cacaca;
	letter-spacing: 0.02em;
	padding-bottom: 12px;
	border-bottom: 1px solid #707070;
	margin: 13px 16px;
	margin-bottom: 0;
}
.mainLocation {
	text-align: center;
	margin-top: 10px;
}
.mainLocation i {
	font-size: 20px;
	margin-right: 5px;
}
.mainLocation * {
	font-size: 14px;
	color: #cacaca;
	font-family: 'oswald-light'; 
	/*display: inline-block;*/
	float: left;
}
.mainLocation>div {
	float: none;
	display: inline-block;
}
.mainLocation span {
	margin-top: 4px;
}
.leftMenu {
	margin-top: 25px;
}
.leftMenu ul li {
	padding: 5px 0;
	border-bottom: solid 1px #454545;
}
.leftMenu ul li span {
	font-family: 'latobold';
}
.leftMenu ul li:hover span {
	margin-left: 3px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.leftMenu ul li a {
	color: #cacaca;
}
.leftMenu ul li a .menuIcons {
	/*box-shadow: 0 0 0 1px rgba(255,255,255,1);*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	margin-right: 5px;
}
.leftMenu ul li a:hover .menuIcons {
	/*background: rgba(255,255,255,1);*/
	color: #64bb5d;
}
.tab.active a * {
	color: #64bb5d;
}
.tab.active a span {
	margin-left: 3px;
}
.bordTransBtn {
	padding: 8px 13px;
	background-color: transparent;
	border-radius: 4px;
	border: solid 3px rgba(255,255,255,0.15);
	display: inline-block;
	color: #C0C0C0;
	font-size: 14px;
}
.bordTransBtn:hover {
	background: rgba(0, 0, 0, 0.16);
}
.leftSide .bordTransBtn {
	width: 100%;
	text-align: center;
	margin-top: 25px;
	color: #C0C0C0;
}
.leftSide .bordTransBtn i {
	font-size: 18px;
	display: inline-block;
	vertical-align: sub;
	margin-right: 7px;
}
.leftSide .bordTransBtn span {
	display: inline-block;
}





/*** START RIGHT SIDE ***/
.rightSide {
	width: 830px;
	margin-left: 30px;
	/*background-color: #fff;*/
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	float: left;
	/*padding: 0 60px;*/
	position: relative;
}
.rightSide:before {
	/*content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	background: red;
	right: 0;*/
} 
.rightSide>section {
	height: 100%;
	background: #fff;
}
.titleHolder {
	border-bottom: solid 1px #c9c9c9;
	padding-bottom: 10px; 
}
.pageTitle {
	display: inline-block;
}
.pageTitle h3 {
	font-family: 'oswald-regular';
	font-size: 27px;
	color: #858585;
	display: inline-block;
	margin-top: 7px;
}
.titleTop {
	background: #8ED588;
	display: inline-block;
	width: 100%;
	height: 18px;
	margin-bottom: 2px;
	position: relative;
}
.titleTop:after {
	content: "";
	display: block;
	height: 1px;
	background: #8ED588; 
	position: absolute;
	width: 100%;
	bottom: -3px;
}
.topLine {
	height: 10px;
	width: 100%;
	position: absolute;
	left:0;
	background-color: #071b31;
}
.mCSB_scrollTools {
	width: 5px;
	max-height: 90%;
	top: 5%;
	border-radius: 5px;
	right: 4px;
	overflow: hidden;
}
.mCSB_container {
	padding: 0 60px;
	padding-bottom: 40px;
	min-height: 100%;
}
.mCustomScrollBox {
	position: static;
	/*padding-bottom: 40px;*/
}
.mCSB_inside>.mCSB_container {
	margin: 0;
}
.mCSB_dragger {
	background: #071b31; 
}
.mCSB_draggerContainer {
	background-color: #D0D0D0; 
}
.mCSB_draggerRail, .mCSB_dragger_bar {
	display: none;
}
.pageCont {
	margin-top: 25px;
	font-family: 'latoregular';
	line-height: 1.4em;
	font-size: 15px;
	color: #7C7C7C;
}


/* start intro */
.rightSide>.intro {
	background: rgba(0,0,0,0.7);
	padding: 60px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.typeAnimation, .typed-cursor {
	font-family: 'latohairline';
	/*font-family: 'latolight';*/
	font-size: 35px;
	color: #fff;
	line-height: 1.25em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.animText2 {
	/*text-align: right;*/
	margin-top: 25px;
	margin-right: 20px;
}
.animText2 .typeAnimation {
	float: right;
	font-family: 'latohairline_italic';
	font-size: 22px;
	display: inline-block;
	width: 310px;
}


/*starrt about*/
.aboutImage {
	width: 100%;
	margin-bottom: 15px;
}
.aboutImage img {
	width: 100%
}
.personalInfo {
	margin-bottom: 15px;
}
.personalInfo i {
	vertical-align: text-top;
	margin-right: 8px;
}
.personalInfo li {
	padding: 4px 0;
	border-bottom: 1px solid #dbdbdb;
}
.personalInfo li:after {
	content: "";
	clear: both;
	display: block;
}
.personalInfo li span:first-child {
	width: 150px;
	font-weight: bold;
	display: block;
	float: left;
}
.personalInfo li span:last-child {
	display: block;
	float: left;
}
p>a {
	color: #64bb5d
}

/*start resume*/
.resumeSectTitle {
	float: left;
	text-align: center;
	margin-right: 25px;
	width: 90px;
}
.resumeSectTitle:after {
	content: "";
	clear: both;
	display: block;
}
.resumeSectTitle>span {
	/*float: left;*/
	/*width: 115px;*/
	display: block;
	text-align: right;
	margin-top: 7px;
	text-align: center;
}
.resumeSectTitle>i {
	font-size: 22px;
	/*margin-left: 7px;*/
	/*margin-bottom: 5px;*/
	border: solid 2px rgb(124, 124, 124);
	border-radius: 100%;
	padding: 4px;
	/*margin-top: -7px;*/
}
.resumeSectCont {
	float: left;
	width: 570px;
}
.resumeSingle {
	/*margin-left: 137px;*/
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	padding-left: 9px;
	border-left: solid 2px rgb(166, 166, 166);
	position: relative;
}
.resumeSingle:before {
	content: "";
	width: 6px;
	height: 6px;
	border: solid 3px #64bb5d;
	display: block;
	border-radius: 100%;
	position: absolute;
	left: -7px;
	background: #fff;
	top: 5px;
}
.skills .resumeSingle {
	margin-bottom: 16px;
}
.fromToDate {
	display: block;
	font-family: 'oswald-regular';
	color: #64bb5d;
}
.resumeCompany {
	display: block;
	font-family: 'latobold';
	color: #747474;
}
.resumePosition {
	display: block;
	font-family: 'latobold';
	color: #747474;
}
.resumeSection {
	margin-bottom: 30px;
}
.pageCont .resumeSection:last-child {
	margin-bottom: 0;
}
.skillTitle {
	font-family: 'oswald-regular';
}


/* start folio */
.folioCont {
	margin-top: 15px;
}
/*.mix {display:none;}*/
.element-item {
	width: 170px;
	height: 125px;
	border: solid 1px #C5C5C5;
	margin: 2px; 
	overflow: hidden;
	position: relative;
	display: inline-block;
}
.element-item a {
	display: block;
	overflow: hidden;
}
.element-item img {
	width: 100%;
	/*transform: scale(4.5,4.5);*/
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.element-item:hover img {
	transform: scale(1.3,1.3);
	-webkit-transform: scale(1.3,1.3);
	-ms-transform: scale(1.3,1.3);
}
.element-item:hover .imgZoomIcon {
	opacity: 0.45;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.imgZoomIcon {
	background: rgba(0,0,0,1) url('../img/zoom.png') no-repeat center;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.mfp-close {
	width: auto!important;
	height: auto!important;
	padding: 0!important;
	margin: 0!important;
	cursor: pointer!important;
}
.mfp-container {
	cursor: pointer;
}
.catgryButtons button {
	padding: 5px 13px;
	/*border: solid 1px #383838;*/
	border: none;
	/*background: #595959;*/
	background: transparent;
	color: #4C4C4C;
	outline: none;
}
.catgryButtons button.active {
	background: #8ED588;
	/*border-color: #42843D;*/
	color: #fff;
}



/*start contact*/
.contact iframe {
	margin-bottom: 15px;
}
.formRow {
	margin-bottom: 8px; 
}
.formRow label {
	display: block;
	margin-bottom: 2px;
}
.formRow>input[type="text"], .formRow>input[type="password"], .formRow>input[type="search"], .formRow>input[type="email"] {
	height: 35px;
	border: solid 1px #dbdbdb;
	width: 100%;
	padding: 0 7px;
	color: #808080;
	font-size: 15px;
}
.formRow>input[type="text"]:focus, .formRow>input[type="password"]:focus, .formRow>input[type="search"]:focus, .formRow>input[type="email"]:focus {
	background: rgba(0,0,0,0.01);	
	box-shadow: 0 0 3px rgba(0,0,0,0.15);
	transition: all 1s;
	-webkit-transition: all 1s;
}
.formRow.submit.right {
	text-align: right;
}
.formRow.submit.left {
	text-align: left;
}
.formRow.submit input[type="submit"], .formRow.submit button, .formRow.submit a {
	background: transparent;
	/*background: #64bb5d;*/
	padding: 8px 30px;
	margin: 0;
	display: inline-block;
	/*color: #fff;*/
	color: #808080;
	font-size: 14px;
	/*border: 1px solid rgba(0,0,0,0.25);*/
	border: 1px solid #dbdbdb;
	font-family: 'latobold';
}
.formRow.submit.left input[type="submit"], .formRow.submit.left button, .formRow.submit.left a {
	margin-right: 7px
}
.formRow.submit.right input[type="submit"], .formRow.submit.right button, .formRow.submit.right a {
	margin-left: 7px
}
.formRow>textarea {
	border: solid 1px #dbdbdb;
	height: 180px;
	width: 100%;
	padding: 7px;
	color: #808080;
	font-size: 15px;
	resize: vertical;
}
.formRow>textarea:focus {
	background: rgba(0,0,0,0.01);	
	box-shadow: 0 0 3px rgba(0,0,0,0.15);
	transition: all 1s;
	-webkit-transition: all 1s;
}
.contact .formRow>input[type="text"], .contact .formRow>textarea {
	font-size: 19px;
	font-family: 'latolight';
	/*font-family: 'latohairline';*/
}
.contactForm {
	float: left;
	width: 440px
}
.contactInfo {
	float: left;
	width: 220px;
	margin-left: 50px;
}
.contacts {
	margin-top: 16px;
	border-left: solid 2px #B3B3B3;
	padding-left: 8px;
}
.contacts ul li {
	margin-bottom: 4px;
}
.contacts ul li:last-child {
	margin-bottom: 0;
}
.contacts ul li span {
	/*margin-left: 5px; */
}
.contacts i {
	font-size: 22px;
	/*color: #64bb5d;*/
	vertical-align: middle;
}
.socials {
	margin-top: 25px;
}
.socials ul li {
	display: inline-block;
}
.socials ul li i {
	font-size: 30px;
	margin-right: 6px;
	color: #696969;
}
#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	height: 210px;
	margin-bottom: 25px;
}
.socials i {
	transition: all 1.2s;
	-webkit-transition: all 1.2s;
}
.socials .icon-facebook:hover {
	color: #3a5795;
}
.socials .icon-pinterest:hover {
	color: #cb2027;
}
.socials .icon-twitter:hover {
	color: #55acee;
}
.socials .icon-google:hover {
	color: #c30907;
}





/* appear !!!MAKE CROSS!!!!!!!!!!!!!!!!!!!!!!!! */
/*@-webkit-keyframes appearAnimate {
  0%   { 
  	opacity: 0; 
  	-webkit-transform: translate3d(0, 200%, 0); 
  }
  100% { 
  	opacity: 1; 
  	-webkit-transform: none; 
  }
}
@-moz-keyframes appearAnimate {
  0%   { 
  	opacity: 0; 
  	-moz-transform: translate3d(0, 200%, 0); 
  }
  100% { 
  	opacity: 1; 
  	-moz-transform: none; 
  }
}
@-o-keyframes appearAnimate {
  0%   { 
  	opacity: 0; 
  	-o-transform: translate3d(0, 200%, 0); 
  }
  100% { 
  	opacity: 1; 
  	-o-transform: none; 
  }
}
@keyframes appearAnimate {
  0%   { 
  	opacity: 0; 
  	transform: translate3d(0, 200%, 0); 
  }
  100% { 
  	opacity: 1; 
  	transform: none;
  }
}
.appearAnimate {
	-webkit-animation: appearAnimate 2s;   
}*/




















/*focus*/
.focus {
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
.makeDark:before {
	content: "";
	position: absolute;
	top:0;bottom:0;right:0;left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 997;
}
.formRow {
	z-index: 998;
	position: relative;
}
.makeDark {
	outline: none;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.addFocus {
	background: #fff;
	z-index: 999;
	position: relative;
}





